@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h2 class="mb-4">Privacy Policy</h2>
    <section id="about-us">
        <h3>About Us</h3>
        <p>Monefy Web is a project created and designed by two backend developers</p>
    </section>

    <section id="about-project" class="mt-4">
        <h3>About the Project</h3>
        <p>Monefy Web is a programme that manages user's finances. Each user has an associated account. The accounts can have different currencies and the movements associated with that currency.</p>
    </section>

    <section id="github-link" class="mt-4">
        <h3>Links to GitHub Repository</h3>
        <p>You can find the source code of our <a href="https://github.com/ItsIvanPsk/MonefyWeb" target="_blank"> project </a> on GitHub:</p>

    </section>
</div>



